.main-container {
    margin: 20px;
  }
  
  .add-product-form {
    margin-bottom: 20px;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #bfaaaa;
  }
  
  .product-table tr:nth-child(even) {
    background-color: #6a6161;
  }
  
  .product-table tr:hover {
    background-color: #d9d9d9;
  }
  
  .product-table button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .product-table button:hover {
    background-color: #45a049;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: rgb(135, 133, 133);
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal-content input {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-content button {
    margin-top: 10px;
  }
  